<%- include('../partials/header') -%>
<main>
    <section>
        <p><a href="?hideSpoilers=true">Ukryj spoilery</a> | <a href="?hideSpoilers=false">Pokaż spoilery</a></p>
        <form action="/" method="GET">
            <label for="sortBy">Sortuj według:</label>
            <select name="sortBy" id="sortBy">
                <option value="newest" <%= sortBy === 'newest' ? 'selected' : '' %>>Najnowsze</option>
                <option value="oldest" <%= sortBy === 'oldest' ? 'selected' : '' %>>Najstarsze</option>
                <option value="mostVoted" <%= sortBy === 'mostVoted' ? 'selected' : '' %>>Najwięcej głosów</option>
                <option value="leastVoted" <%= sortBy === 'leastVoted' ? 'selected' : '' %>>Najmniej głosów</option>
            </select><br>
            <button type="submit" class="sort">Sortuj</button>
        </form>
    </section>
    <section class="postsContainer">
        <% posts.forEach(post => { %>
            <% if (hideSpoilers && post.spoiler) return; %>
            <section class="postItem">
                <p>u/<%= post.owner %> <% if(typeof user !== 'undefined' && (user === post.owner || user === 'slawkolo')) { %><div class="editDelete"><a href="/edit/<%= post._id %>"><button type="button">Edytuj</button></a> <form action="/delete/<%= post._id %>" method="POST" style="display:inline;"><button type="submit">Usuń</button></form><% } %></div></p>
                <div>
                    <h2><a href="/<%= post._id %>"><%= post.title %></a></h2>
                    <% if(!post.spoiler){ %>
                        <p><%= post.content %></p>
                    <% } else { %>
                        <p style="color: red;">SPOILER</p>
                    <% } %>
                </div>
                <div class="vote">
                    <% if(typeof user !== 'undefined') { %>
                        <form action="/vote/<%= post._id %>" method="POST" style="display:inline;">
                            <input type="hidden" name="vote" value="1">
                            <button type="submit" style="filter: <%= post.userVote === 1 ? 'grayscale(0%)' : 'grayscale(100%)' %>;"><img src="/img/up.png"></button>
                        </form>
                    <% } else { %>
                        <img src="/img/up.png" style="filter: grayscale(100%);">
                    <% } %>
                    <span class="voteCount"><%= post.totalVotes || 0 %></span>
                    <% if(typeof user !== 'undefined') { %>
                        <form action="/vote/<%= post._id %>" method="POST" style="display:inline;">
                            <input type="hidden" name="vote" value="-1">
                            <button type="submit" style="filter: <%= post.userVote === -1 ? 'grayscale(0%)' : 'grayscale(100%)' %>;"><img src="/img/down.png"></button>
                        </form>
                    <% } else { %>
                        <img src="/img/down.png" style="filter: grayscale(100%);">
                    <% } %>
                </div>
            </section>
        <% }) %>
    </section>
</main>

<%- include('../partials/footer') -%>