<%- include('../partials/header') -%>

<main>
    <section>
        <form action="/" method="GET">
            <label for="hideSpoilers">Ukryj spoilery</label>
            <input type="checkbox" name="hideSpoilers" id="hideSpoilers"/><br>
            <button type="submit">Filtruj</button>
        </form>
    </section>
    <section>
    <ul>
        <% posts.forEach(post => { %>
            <form action="delete/<%= post._id %>" method="POST" >
            <li>
                <p>
                    <% if(!post.spoiler){ %>
                        <a href="<%= post._id %>"><b><%= post.title %></b></a>
                        <%= post.content %>
                        <a href="edit/<%= post._id %>"><button type="button">Edytuj</button></a> <button type="submit">Usuń</button>
                    <% } else { %>
                        <a href="<%= post._id %>"><b><%= post.title %></b></a>
                        <b style="color: red;">SPOILER</b>
                        <a href="edit/<%= post._id %>"><button type="button">Edytuj</button></a> <button type="submit">Usuń</button>
                    <% } %>
                </p>
            </li>
        </form>
        <% }) %>
    </ul>
    </section>
</main>

<%- include('../partials/footer') -%>