<%- include('../partials/header') -%>

<main class="details">
    <article>
        <p>u/<%= post.owner %></p>
        <% if(post.spoiler){ %>
            <p><b style="color: red;">SPOILER</b></p>
        <% } %>
        <h1><%= post.title %></h1>
        <p><%= post.content %></p>
    </article>
</main>

<%- include('../partials/footer') -%>